nitroNSIP = "192.168.1.1"
nitroUser = "nsroot"
nitroPass = "nsroot"

#Use HTTP or HTTPs to connect to Netscaler
connectiontype = "https"

#Certificate and private key file names on Netscaler
#Pair Name Prefix (le-certificate-mydomain)
nspairname = "le-certificate"
nschainname = "le-chain"
#File Name Prefix (le-cert-myhostname.domain.com.pem)
nscert = "le-cert"
nskey = "le-privkey"
#CA name and filename
nschain = "le-chain.pem"
nscertpath = "/nsconfig/ssl/"
